<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog Post App</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Blog Post App</p>
      </div>
        <div class="d-flex justify-content-end"></div>
          <div>
            <a href="/"> <button type="button" class="btn btn-primary">Home</button>
              <a href="/compose">
                  <button type="button" class="btn btn-danger">New Post</button>
              </a>

          </div>
      </div>
    </div>
  </nav>

  <body>
    <div class="container">
